.table_bg {
        background-color: #000000;
}
.table_head{
        background-color: #535320;
        color: #FFFFFF;
}
.table_col_0{
        background-color: #333300;
        color: #FFFFFF;
}
.table_col_1{
        background-color: #434310;
        color: #FFFFFF;
}
